
$almost-white: #fefefe;

$black: #333333;
$light-black: #555555;

$gray: #aaaaaa;
$light-gray: #f2f2f2;
$dark-gray: #666666;

$red: #ce2d2d;
$light-red: change-color($red, $lightness: 70%);
$extra-light-red: change-color($red, $lightness: 98%);
