
$red: #ce2d2d;

h1
{
    margin-bottom: 0;
}

h2
{
    display: none;
}

#keymap
{
    padding: 0 0 1rem 0;
}

#actions
{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 10px;
    font-size: 0.8rem;

    .section
    {
        background-color: #F2F2F2;
        border-radius: 3px;
        padding: 1rem;

        h3
        {
            font-size: 0.9rem;
            margin: 0 0 0.5rem 0;
        }

        p
        {
            margin-bottom: 0;
        }

        span.literal
        {
            font-size: 0.75rem;
            margin-right: 5px;
            background-color: white;
            border-radius: 3px;
            padding: 1px 3px;
            border: 1px solid #D2D2D2;
        }
    }

    #legend
    {
        background-color: transparent;

        .line-block
        {
            margin-top: 10px;
            text-align: center;
        }
    }

}

blockquote > dl.field-list, dl.key-summary, .key-summary dl
{
    margin: 0;
    grid-column-gap: 12px;

    dt
    {
        font: 0.5rem monospace;
        justify-self: start;

        span.literal
        {
            background-color: #f5f5f5;
        }
    }

    dd
    {
        p
        {
            font-size: 0.8rem;
            margin: 0.3em 0;
        }
    }
}

em
{
    color: #666666;
}

.cols
{
    display: grid;
    grid-column-gap: 1vw;
    margin: 1vw 0;

    dl
    {
        margin: 0;
        padding: 0.5vw 1vw;
        background-color: #F2F2F2;
        border-radius: 3px;
    }
}

.one-col
{
    grid-template-columns: 1fr;
}

.two-cols
{
    grid-template-columns: 1fr 1fr;
}

.three-cols
{
    grid-template-columns: 1fr 1fr 1fr;
}

.filled-cols
{
    dl
    {
        background-color: #F2F2F2;
        border-radius: 3px;
    }
}

.filled-row
{
    background-color: #F2F2F2;
    border-radius: 3px;
}

.admonition
{
    background-color: transparent;
    padding: 0;

    .admonition-title
    {
        background-color: #F2F2F2;
        border-radius: 3px;
        padding: 0.5vw 1vw;
        margin: 0.6vw 0;
    }

    .field-list
    {
        padding: 0 1vw;
        margin: 0.6vw 0;
    }
}
