
h1
{
    text-align: center;
}

.superscript
{
    width: 10px;
    height: 10px;
    stroke: currentColor;
    stroke-width: 2;
    fill: none;
    vertical-align: text-top;
    margin-left: -2px;
}

.short-description
{
    font-size: 1.1em;
    text-align: center;
    margin: 2vw 0;
}

.quickstart
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quickstart-item
{
    min-width: 250px;
}

.layout
{
    .caption
    {
        text-align: right;
        margin: 0.2vw 0;
        font-size: 0.75em;
    }
}
