
h1
{
    text-align: center;
}

.superscript
{
    width: 10px;
    height: 10px;
    stroke: currentColor;
    stroke-width: 2;
    fill: none;
    vertical-align: text-top;
    margin-left: -2px;
}

.short-description
{
    font-size: 1.1em;
    text-align: center;
    margin: 2vw 0;
}

.features
{
    display: grid;

    grid-template-columns: 1fr 1fr;
    @media (max-width: 450px)
    {
        grid-template-columns: 1fr;
    }

    grid-gap: calc(10px + 0.5vw) calc(10px + 0.5vw);
    justify-items: stretch;
    font-size: 0.8em;
}

.feature
{
    padding: calc(10px + 1vw);
    background-color: #F2F2F2;
    border-radius: 5px;
    text-align: center;

    .icon
    {
      width: calc(20px + 1vw);
      height: calc(20px + 1vw);
      stroke: currentColor;
      stroke-width: 2;
      fill: none;
    }

    p
    {
        margin: 0.2vw 0 0 0;
        vertical-align: middle;
    }
}

.quickstart
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quickstart-item
{
    min-width: 250px;
}

.layout
{
    .caption
    {
        text-align: right;
        margin: 0.2vw 0;
        font-size: 0.75em;
    }
}
