{% extends "base.html" %}

{% block main %}
<main class="{{ data.layout or 'one-col' }} {{ data.page }}">
    <article>
        {{ node.content }}
    </article>

    {% if data.layout == 'two-cols' %}
    <aside>
        <nav id="secondary-navigation" aria-labelledby="secondary-navigation">

            {# in-doc sections #}
            {% if data.index_node %}
                {% with index = get_node(data.index_node) %}
                    <ul>
                        {% for section in index.sections %}
                            <li><a href="#{{ section.id }}">{{ section.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endwith %}
            {% endif %}

            {# menu entries #}
            {% if data.menu %}
            <ul class="menu-first-level">
                {% for entry in data.menu %}
                <li>
                    <a href="{{ entry.url }}">{{ entry.title }}</a>
                    {% if entry.entries %}
                    <ul class="menu-second-level">
                        {% for entry in entry.entries %}
                        <li>
                            <a href="{{ entry.url }}">{{ entry.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </nav>
    </aside>
    {% endif %}

</main>
{% endblock main %}

